.title-home {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.gradient {
    background: linear-gradient(to right, #e4e3ef, #a4aa64); /* Gradien warna */
    -webkit-background-clip: text; /* Memotong gradien pada teks */
    -webkit-text-fill-color: transparent; /* Membuat teks transparan untuk menampilkan gradien */
}

[data-testid="stSidebarCollapsedControl"] {
    display: none;
}

details {
    padding: 10px;
    background-color: #6a4b3a;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
}

details[open] {
    cursor: pointer;
}

details:hover {
    transform: scale(1.05);
    background-color: #a4aa64;
    cursor: pointer;
}

summary {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

summary::marker {
    content: none;
}

.paragraph-details {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}